body {
    font-size: 16px;
}
.containerApp {
    flex:1;
    flex-direction:row;
    width:85%;
}
.title{
    font-size: 40px;
    font-weight:400;
    text-align:center;
    margin-bottom: 40px;
}

.titleStartSurvey {
    font-size: 1.5rem;
}

.loginLink{
    text-align: right;
}

.questionTitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.mainSection {
    min-height: 25rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
    background: aliceblue;
    border-radius: 20px;
}
.footer {
    color: #7c7b7b;
    text-align: center;
}

.cardQuestion{
    min-height: 20rem;
}

.surveySummaryTitle {
    font-size: 24px;
}